<header>
  <div class="header-content">
    <h1 class="course-title">Course Caller</h1>
      <% if (user) { %>
    <div class="user-welcome"></div>
      <p> Welcome, <%= user.email %> </p>
    </div>
  </div>
  <nav class="navigation">
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/courses">Courses</a>
    <a href="/courses/create">Create Course</a>
    <a href="/about">About Us</a>
    <a href="/logout">Log Out</a>
    <% } else { %>
      <button class="log-in-button">
        <a href="/login">Log In</a>
      </button>
    </div>
    <nav class="navigation">
      <a href="/">Home</a>
      <a href ="/login">Log In</a>
      <a href="/signup">Sign Up</a>
      <a href="/courses">Courses</a>
      <a href="/about">About Us</a>
      <% } %>
  </nav>
</header>