<header>
  <div class="header-content">
    <h1 class="course-title">Course Caller</h1>
    <button class="log-in-button">
      <a href="login.html">Log In</a>
    </button>
  </div>
  <nav class="navigation">
    <a href="/">Home</a>
    <a href="/login">Log In</a>
    <a href="/courses">Courses</a>
    <a href="/about">About Us</a>
  </nav>
</header>