header {text-align: center;
	font-family: sans-serif;
	letter-spacing: 4px;
	overflow: hidden;
	position: fixed;
	background-color: #004E98;
	width: 100%;
	top: 0;
	}
nav { font-weight: bold;
     background-color: #FF6700;
     font-family: sans-serif;
     text-align: center;
     padding: 5px;
     overflow: hidden;
     position: fixed;
     width: 100%;
     margin-left: 50px;
    }

ul { text-align: center; list-style: none; line-height: 200%; }
	nav a { text-decoration: none; }
	
	nav a:link { color: #000000 ; }

	nav a:visited { color: #585858  ; }

	nav a:hover { color: #E50000 ; }


h1 {font-size: 50px;
    line-height: 200%;
    }

body {padding-top: 150px;
      font-size: 20px;
      background-color: #C0C0C0
      }

h2 {line-height: 200%; 
    font-size: 40px;
    text-align: center;
    }

h3 {font-size:30px;
    text-align: center;
    } 

p {margin-left: 100px;
   margin-right: 100px;
   text-align: center;
   }

ol {list-style-type: lower-roman;
    margin-left: 75px;
    margin-right: 100px; 
   }

dd {font-style: italic;
    }



@media screen and (max-height: 450px) {
  .overlay {overflow-y: scroll;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

a {text-decoration: none;
   color: #000000;}

#login { background-image: url(login.png); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: 100% 100%; 
	height: 200px;
	margin-left: 50px; 
	margin-right: 50px; 
	margin-top: 50px; 
	}


