<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <div class="main-content"> 
        <h2>View Courses</h2>
        
        <ul class="course-list">
          <li>
            <div class="course">
              <p id="c-title">Generic Course Name</p>
              <p id="c-description">This is a placeholder course to test HTML and CSS properties.</p>
              <p id="c-subject">UHHH</p>
              <p id="c-credits">3.0</p>
              <!-- TODO: Buttons for signing up or editing courses -->
            </div>
          </li>
        </ul>
      </div>
    </main>
  
  
    <%- include("./partials/footer.ejs") %>
  
  </body>
</html>