<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/header.ejs") %>
    
    <main>
      <div class="main-content">
        <h2>Welcome!</h2>      
        <div class="image">
          <img src="books.png" alt="Books">
        </div>
        <p>As we're sure everyone is excited to pick their courses-or if you're a teacher, create, edit, or delete courses-here is where you need to be to get started!</p>
    
        <p>We have a variety of courses available. You can look through our available options by clicking on 'Courses' above.</p>
    
        <p>If you head to the login page, you can login as a student or teacher. You must be logged in in order to sign up for courses, or change, edit or delete courses.</p>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>