<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="main-content">
        <form>
            <h2>Sign up</h2>
            <label for="email">Email</label>
            <input type="text" name="email" required/>
            <div class="email error"></div>
            <label for="password">Password</label>
            <input type="password" name="password" required/>
            <div class="password error"></div>
            <div class="student-or-teacher">
              <label for="teacher">Student</label>
              <input type="radio" name="teacher" value="false">
              <label for="teacher">Teacher</label>
              <input type="radio" name="teacher" value="true">
            </div>
            <button class="button">Sign up</button>
        </form>
        <p class="tip">Already have an account? <span><a href="/signup">Log in here</a></span></p>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      // get values
      const email = form.email.value;
      const password = form.password.value;
      const teacher = form.teacher.value;
      const courses = [];
      try {
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ email, password, teacher, courses }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>
    